.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

.card img {
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}

.card-img-wrapper:hover .member-icons {
    bottom: 5%;
}

.animate {
    transition: all 300ms ease-in-out;
}
