.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: auto;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: white;
    border-top: none;
}

.tablets {
    border: 1px solid rgb(202, 202, 202);
    padding: 1%
}

.nav-item:hover {
    border-bottom: 4px solid #b99fa1;
}
