<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group row">
    <label for="userName" class="col-sm-3">User Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="userName" placeholder="User Name">
      <div *ngIf="userName.errors && userName.touched" class="font-italic text-danger">
        <small *ngIf="userName.errors.required">*User Name is required.</small>
        <small *ngIf="userName.errors.pattern">*Can only use letters for User Name.</small>
        <small *ngIf="userName.errors.minlength">*User Name should be minimum {{userName.errors.minlength.requiredLength}} characters.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="dateOfBirth" class="col-sm-3">Known As</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Known as" formControlName="knownAs">
      <div *ngIf="knownAs.errors && knownAs.touched" class="font-italic text-danger">
        <small *ngIf="knownAs.errors.required">*Known as is required.</small>
        <small *ngIf="knownAs.errors.pattern">*Can only use letters.</small>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" style="margin-right:20%">I am a</label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="female" formControlName="gender">Female
    </label>
  </div>

  <div class="form-group row">
    <label for="dateOfBirth" class="col-sm-3">Date of Birth</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Date of Birth" formControlName="dateOfBirth" type="date">
      <div *ngIf="dateOfBirth.errors && dateOfBirth.touched"  class="font-italic text-danger">
        <small *ngIf="dateOfBirth.errors.required">*Date of Birth is required.</small>
        <small *ngIf="dateOfBirth.errors.adult">*Age should be above 18.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="city" class="col-sm-3">City</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="City" formControlName="city">
      <small *ngIf="city.errors && city.touched" class="font-italic text-danger">*City is required.</small>
    </div>
  </div>

  <div class="form-group row">
    <label for="country" class="col-sm-3">Country</label>
    <div class="col-sm-9">
      <input class="form-control" placeholder="Country" formControlName="country">
      <small *ngIf="country.errors && country.touched" class="font-italic text-danger">*Country is required.</small>
    </div>
  </div>

  <div class="form-group row">
    <label for="password" class="col-sm-3">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
      <div *ngIf="password.errors && password.touched" class="font-italic text-danger">
        <small *ngIf="password.errors.required">*Password is required.</small>
        <small *ngIf="password.errors.minlength">*Password shuld be minimum {{password.errors.minlength.requiredLength}} characters.</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="confirmPassword" class="col-sm-3">Confirm Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
      <small *ngIf="confirmPassword.errors && confirmPassword.touched" class="font-italic text-danger">*Password is required.</small><br>
      <small *ngIf="registerForm.hasError('mismatch') && confirmPassword.touched" class="font-italic text-danger">*Passwords are not matched.</small>
    </div>
  </div>

  <div class="form-group text-center">
    <button [disabled]="!registerForm.valid || isLodding" class="btn btn-success mr-2" type="submit">Register<i *ngIf="isLodding" class="fa fa-spinner fa-spin"></i></button>
    <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>
