<div class="text-center mt-3">
  <h2>{{pagination.totalUsers ? pagination.totalUsers : 'No'}} matches found</h2>
</div>

<div *ngIf="pagination && allUserDetails" class="container mt-5">

  <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
    <div class="form-group">
      <label for="minAge">Age From</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" [(ngModel)]="userParams.minAge" name="minAge">
    </div>
  
    <div class="form-group px-2">
      <label for="maxAge">Age To</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" [(ngModel)]="userParams.maxAge" name="maxAge">
    </div>

    <div class="form-group px-2">
      <label for="gender">Show </label>
      <select class="form-control ml-2" style="width: 130px" id="gender" [(ngModel)]="userParams.gender" name="gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{gender.name}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
    <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">Reset Filter</button>

    <div class="col">
      <div class="btn-group btn-group-toggle float-right mt-1">
        <label [ngClass]="{active: !userParams.orderedList || userParams.orderedList === 'lastActive'}" class="btn btn-secondary">
            <input type="radio" name="orderedList" [(ngModel)]="userParams.orderedList" value="lastActive" (change)="loadUsers()">Last Active
        </label>
        <label [ngClass]="{active: userParams.orderedList === 'created'}" class="btn btn-secondary">
            <input type="radio" name="orderedList" [(ngModel)]="userParams.orderedList" value="created" (change)="loadUsers()">Newest Members
        </label>
      </div>
    </div>

  </form>
  <br>

  <div class="row">
    <div *ngFor="let aUserDetails of allUserDetails" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="aUserDetails"></app-member-card>
    </div>
  </div>
  <div *ngIf="allUserDetails.length !== 0" class="row justify-content-md-center">
      <ul class="pagination">
        <li *ngIf="pagination.currentPage > 2" class="page-item"><a (click)="pageChanged(1)" class="page-link">&laquo;</a></li>
        <li *ngIf="pagination.currentPage > 1" class="page-item"><a (click)="pageChanged(pagination.previousPage)" class="page-link">‹</a></li>
        <li *ngIf="pagination.currentPage > 1" class="page-item"><a (click)="pageChanged(pagination.previousPage)" class="page-link">{{pagination.previousPage}}</a></li>
        <li *ngIf="pagination.currentPage > 0" class="page-item active"><a class="page-link">{{pagination.currentPage}}</a></li>
        <li *ngIf="pagination.currentPage < pagination.lastPage" class="page-item"><a (click)="pageChanged(pagination.nextPage)" class="page-link">{{pagination.nextPage}}</a></li>
        <li *ngIf="pagination.currentPage < pagination.lastPage" class="page-item"><a (click)="pageChanged(pagination.nextPage)" class="page-link">›</a></li>
        <li *ngIf="pagination.currentPage < pagination.lastPage - 1" class="page-item"><a (click)="pageChanged(pagination.lastPage)" class="page-link">&raquo;</a></li>
      </ul>
  </div>
</div>
