<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
        <li routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/members">Matches</a>
        </li>
        <li routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/lists">Lists</a>
        </li>
        <li routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/messages">Messages <span class="badge badge-pill badge-warning">{{messageService.notifications}}</span></a>
        </li>
      </div>
    </ul>

    <div *ngIf="isLoggedIn()" routerLinkActive="active current" class="nav-item dropdown">
      <span>
        <img src="{{authService.mainPhotoUrl}}" class="rounded-circle" alt="Profile Picture">
      </span>
      <a class="dropdown-toggle text-light" data-toggle="dropdown">
        Welcome {{authService.getLoginDetails.knownAs | titlecase}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/member/edit"> <i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()"> <i class="fa fa-sign-out"></i> Log out</a>
      </div>
    </div>

    <!-- <form >
      <input class="form-control mr-sm-2" name="userName" type="text" placeholder="User Name" [(ngModel)]="loginDetails.userName">
      <input class="form-control mr-sm-2" name="passsword" type="password" placeholder="Password" [(ngModel)]="loginDetails.passsword">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="login()">Login</button>
    </form> -->

    <form *ngIf="!isLoggedIn()" class="form-inline my-2 my-lg-0" [formGroup]="logInForm" (ngSubmit)="login()">
      <input formControlName="userName" type="text" class="form-control mr-sm-2" placeholder="User Name">
      <input formControlName="password" type="password" class="form-control mr-sm-2" placeholder="Password">
      <button [disabled]="!logInForm.valid || isLodding" type="submit" class="btn my-2 my-sm-0">
        Login
        <i *ngIf="isLodding" class="fa fa-spinner fa-spin"></i>
      </button>
    </form>
  </div>
</nav>
