<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet...</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">

        <!-- to them -->
        <div *ngIf="message.senderDetails._id == recipientDetails.recipientId">
          <span class="chat-img float-left">
            <img src="{{message.senderDetails.photoUrl}}" alt="{{message.senderDetails.knownAs}}"
              class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">{{message.senderDetails.knownAs}}</strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o"> {{message.dateSent | timeAgo}}</span>
              </small>
            </div>
            <p>{{message.content}}</p>
          </div>
        </div>

        <!-- to me -->
        <div *ngIf="message.senderDetails._id != recipientDetails.recipientId">
          <span class="chat-img float-right">
            <img src="{{message.senderDetails.photoUrl}}" alt="{{message.senderDetails.knownAs}}"
              class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted ">
                <span class="fa fa-clock-o"> {{message.dateSent | timeAgo}}</span>
                <span *ngIf="!message.isRead" class="text-danger"> unread</span>
                <span *ngIf="message.isRead" class="text-success"> read {{message.dateRead | timeAgo}}</span>
              </small>
              <strong class="primary-font float-right">me</strong>
            </div>
            <p>{{message.content}}</p>
          </div>
        </div>

      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input *ngIf="messages?.length !== 0" type="text" class="form-control input-sm" name="content"
          [(ngModel)]="content" required placeholder="send a private message">
        <input *ngIf="messages?.length === 0" type="text" class="form-control input-sm" name="content"
          [(ngModel)]="content" required placeholder="Say Hi... to {{recipientDetails.recipientName}}">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
