.card {
    border: none
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}

img {
    object-fit: cover;
    height: 60px;
    width: 60px;
}

.card-body {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 450px;
}
